.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce 2s ease-in-out infinite;
  }
}
@keyframes App-logo-bounce {
  0% {
    transform: translateX(-20px);
  }
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateX(20px);
  
  }
   50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateX(-20px);
  }
   100% {
    transform: translateY(-20px);
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
